* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #300A24; /* Dark Purple-ish background */
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px; /* Optional: Add some rounded corners for a cleaner look */
}

.navbar__title {
    font-size: 2rem;
    color: #2ECC71; /* Bluish-greenish color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
}

.navbar__list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar__link {
    color: #3498db; /* Brighter Blue for directory names */
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-weight: bold; /* Bold text */
}

.navbar__item {
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Bold text */
    font-size: 1.1rem;
}

.navbar__item:hover {
    background-color: #1ABC9C; /* Teal background on hover */
}

.navbar__item:hover .navbar__link {
    color: #ffffff; /* White text color on hover */
}

.tilde {
    color: #3498db; /* Brighter Blue for directory names */
}

.money {
    color: whitesmoke;
}
